html {
    background-color: #051d35;
    color: #efefef;
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.home { height: 100%; }

.nav { color: #d09e42; }

.page {
    top: 67px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    min-height: calc(100% - 67px);
}

.center {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.image {
    padding-bottom: 3%;
}

.unstyled-ul {
    list-style: none;
    margin-top: 2.5rem;
}

.no-spacing {
    margin-top: 0px;
    margin-bottom: 0px;
}
.vertical-center {
    margin: 5% 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    min-height: 100%;
}

.vertical-center-page {
    justify-content: center;
}

.unstyled-ul li {
    margin: 0;
}

.unstyled-ul h5 { margin-bottom: 1rem; }

.heading-center {
    text-align: center;
}